<h3>Taxes</h3> 
<input class="btn btn-outline-success signup-btn api-input" type="submit" ng-click='recalculateCryptoTaxes()' value='Recalculate All Taxes'>
<table class="table sm-font">
    <thead>
        <tr>
            <th colspan=5 class='text-center font-size-125'>BUYS</th>
        </tr>
        <tr>
            <th>Coin Pair</th>
            <th>Buying Price</th>
            <th>Base Coin Amount</th>
            <th>Trade Coin Amount</th>
            <th>Transaction Date</th>
        </tr>
    </thead>
    <tbody>
        <!-- <tr ng-repeat='row in buysPanelData track by $index' style='background-color:[[row.background]];'>
            <th>[[row.coin_pair]]</th>
            <td>[[row.price]]</td>
            <td>[[row.source_coin_amount]]</td>
            <td>[[row.destination_coin_amount]]</td>
            <td>[[row.transaction_date.replace('T', ' ')]]</td>
        </tr> -->
    </tbody>
</table>