<div id='executive' class='tab t1 tgcbluetextpage'>
	<script type="text/javascript" src="/js/executive.js"></script>
	<link rel='stylesheet' href='/css/executive.css'/>
	<h1 style='text-align:center;margin-bottom:5px;'>How Do We Measure the United States as a Nation?</h1><br>
	<div style='text-align:justify;width:80%;margin:0 auto;margin-bottom:25px;font-size:120%;'>{#A nation is the sum of its people, united under one governing body. Thus the success of a nation is directly reflected in the success of its people. Some major questions you may want to consider include: <br>1) Are the people safe from harm? <br>2) Are they provided a high level of health appropriate care in their environment? <br>3) Are they treated with equal fairness? <br>4) Do they have the freedoms and opportunities to do what they wish, with respect to others? <br>5) Can they seek education expand and improve their mind and skills? <br>6) Are they able to employ themselves in a fullfilling way?<br><br>#}A nation is the sum of its people, united under one governing body. Thus a nation's success is directly reflected in the success of its people. So to measure our nation, we must evaluate our people's access to these inalienable rights to:</div>
	<div id='int-header'>
		<div id='qualolife' class='rights-header z-index-3' onmouseout='javascript:unDisplayTip("qualolifesub");return false;' onmouseover='javascript:displayTip("qualolifesub");return false;' onclick='javascript:filterCat(0, false);return false;' style='background:#5A8F29;'>
			<h3 style='margin-top:5px;margin-bottom:5px;'>Quality of</h3>
			<h2 style='margin-top:0px;'>Life</h2>
			<div id='qualolifesub' class='sub-filter' style='background:#83CE3B;'>
				<div style='padding-left:5px;font-weight:normal;'>Specifically:</div>
				<div id='security-filter' style='padding-left:5px;display:flex;'><div class='bulletpoint'></div>Security</div>
				<div id='well-being-filter' style='padding-left:5px;display:flex;'><div class='bulletpoint'></div>Health/Well-being</div>
			</div>
		</div>
		<div id='acctolib' class='rights-header z-index-3' onmouseout='javascript:unDisplayTip("acctolibsub");return false;' onmouseover='javascript:displayTip("acctolibsub");return false;' onclick='javascript:filterCat(1, false);return false;' style='background:#B64BB8;'>
			<h3 style='margin-top:5px;margin-bottom:5px;'>Access to</h3>
			<h2 style='margin-top:0px;'>Liberty</h2>
			<div id='acctolibsub' class='sub-filter' style='background:#C661C9;'>
				<div style='padding-left:5px;font-weight:normal;'>Specifically:</div>
				<div id='equality-filter' style='padding-left:5px;display:flex;'><div class='bulletpoint'></div>Equality</div>
				<div id='economic-filter' style='padding-left:5px;display:flex;'><div class='bulletpoint'></div>Econ. Opportunity</div>
			</div>
		</div>
		<div id='perofhap' class='rights-header z-index-3' onmouseout='javascript:unDisplayTip("perofhapsub");return false;' onmouseover='javascript:displayTip("perofhapsub");return false;' onclick='javascript:filterCat(2, false);return false;' style='background:#FF8F00;'>
			<h3 style='margin-top:5px;margin-bottom:5px;'>Pursuit of</h3>
			<h2 style='margin-top:0px;'>Happiness</h2>
			<div id='perofhapsub' class='sub-filter' style='background:#FD9D32;'>
				<div style='padding-left:5px;font-weight:normal;'>Specifically:</div>
				<div id='education-filter' style='padding-left:5px;display:flex;'><div class='bulletpoint'></div>Education</div>
				<div id='employment-filter' style='padding-left:5px;display:flex;'><div class='bulletpoint'></div>Employment</div>
			</div>
		</div>
	</div>
	<div id='int-content'>
		<div id='left-col'>
			<div id='menu-wrapper'>
				<div id='category-1' class='category z-index-3' onclick='javascript:expand("1",2,5);return false;'>
					<span>Economic Policies</span>
				</div>
				<div id='category-1-1' class='sub-category' onclick='javascript:expand("1-1",2,0);return false;'>
					<span>Monetary Policy</span>
				</div>
				<div id='category-1-1-1' class='sub-sub-category' onclick='javascript:graphSwitcher2("intfedfunds", "1-1-1");return false;'>
					<div class='category-filters3'></div><span>Interest Rates</span>
					<div id='interestratestip' class='tooltipquestionmark' onmouseout='javascript:unDisplayTip("interestratestool");return false;' onmouseover='javascript:displayTip("interestratestool");return false;'>?</div>
					<div id='interestratestool' class='tooltiptext z-index-1'>An annual depiction of the federal interest rate.</div>
				</div>
				<div id='category-1-1-2' class='sub-sub-category' onclick='javascript:graphSwitcher2("intmoneysupply", "1-1-2");return false;'>
					<div class='category-filters3'></div><span>Money Supply</span>
					<div id='moneysupplytip' class='tooltipquestionmark' onmouseout='javascript:unDisplayTip("moneysupplytool");return false;' onmouseover='javascript:displayTip("moneysupplytool");return false;'>?</div>
					<div id='moneysupplytool' class='tooltiptext z-index-1'>The amount of currency which exists in the economy.</div>
				</div>
				<div id='category-1-2' class='sub-category' onclick='javascript:expand("1-2",5,0);return false;'>
					<span>Fiscal Policy</span>
				</div>
				<div id='category-1-2-1' class='sub-sub-category' onclick='javascript:graphSwitcher2("intrevspend", "1-2-1");return false;'>
					<div class='category-filters3'></div><span>Revenue Vs Spending</span>
					<div id='revspendtip' class='tooltipquestionmark' onmouseout='javascript:unDisplayTip("revspendtool");return false;' onmouseover='javascript:displayTip("revspendtool");return false;'>?</div>
					<div id='revspendtool' class='tooltiptext z-index-1'>A depiction of annual government revenue and spending.</div>
				</div>
				<div id='category-1-2-2' class='sub-sub-category' onclick='javascript:graphSwitcher2("intsurdef", "1-2-2");return false;'>
					<div class='category-filters3'></div><span>Budget Deficit</span>
					<div id='buddeficittip' class='tooltipquestionmark' onmouseout='javascript:unDisplayTip("buddeficittool");return false;' onmouseover='javascript:displayTip("buddeficittool");return false;'>?</div>
					<div id='buddeficittool' class='tooltiptext z-index-1'>The amount by which federal spending exceeds revenue.</div>
				</div>
				<div id='category-1-2-3' class='sub-sub-category' onclick='javascript:graphSwitcher2("intnatdebt", "1-2-3");return false;'>
					<div class='category-filters3'></div><span>National Debt</span>
					<div id='nationaldebttip' class='tooltipquestionmark' onmouseout='javascript:unDisplayTip("nationaldebttool");return false;' onmouseover='javascript:displayTip("nationaldebttool");return false;'>?</div>
					<div id='nationaldebttool' class='tooltiptext z-index-1'>The National debt, or amount owed by the federal government.</div>
				</div>
				<div id='category-1-2-4' class='sub-sub-category' onclick='javascript:graphSwitcher2("intspendcategory", "1-2-4");return false;'>
					<div class='category-filters5'></div><span>Spending by Category</span>
					<div id='spendbycatetip' class='tooltipquestionmark' onmouseout='javascript:unDisplayTip("spendbycatetool");return false;' onmouseover='javascript:displayTip("spendbycatetool");return false;'>?</div>
					<div id='spendbycatetool' class='tooltiptext z-index-1'>Government spending on various programs.</div>
				</div>
				<div id='category-1-2-5' class='sub-sub-category' onclick='javascript:graphSwitcher2("intrevcategory", "1-2-5");return false;'>
					<div class='category-filters5'></div><span>Revenue by Category</span>
					<div id='revbycatetip' class='tooltipquestionmark' onmouseout='javascript:unDisplayTip("revbycatetool");return false;' onmouseover='javascript:displayTip("revbycatetool");return false;'>?</div>
					<div id='revbycatetool' class='tooltiptext z-index-1'>The methods and institutions by which the government collects revenue.</div>
				</div>
				<div id='category-2' class='category' onclick='javascript:expand("2",5,5);return false;'>
					<span>Economic Stats</span>
				</div>
				<div id='category-2-1' class='sub-category' onclick='javascript:expand("2-1",3,0);return false;'>
					<span>Gross Domestic Product</span>
				</div>
				<div id='category-2-1-1' class='sub-sub-category' onclick='javascript:graphSwitcher2("intexecgdp", "2-1-1");return false;'>
					<div class='category-filters3'></div><span>Real GDP</span>
					<div id='realgdptip' class='tooltipquestionmark' onmouseout='javascript:unDisplayTip("realgdptool");return false;' onmouseover='javascript:displayTip("realgdptool");return false;'>?</div>
					<div id='realgdptool' class='tooltiptext z-index-1'>The value of all goods and services produced in the United States in 1 year.</div>
				</div>
				<div id='category-2-1-2' class='sub-sub-category' onclick='javascript:graphSwitcherAvg("intexecgdproc", "2-1-2", 4, 90);return false;'>
					<div class='category-filters1'></div><span>GDP Rate of Change</span>
					<div id='realgdproctip' class='tooltipquestionmark' onmouseout='javascript:unDisplayTip("realgdproctool");return false;' onmouseover='javascript:displayTip("realgdproctool");return false;'>?</div>
					<div id='realgdproctool' class='tooltiptext z-index-1'>The rate that GDP has changed over the past year.</div>
				</div>
				<div id='category-2-1-3' class='sub-sub-category' onclick='javascript:graphSwitcher2("intexecgdpcap", "2-1-3");return false;'>
					<div class='category-filters3'></div><span>Real GDP Per Capita</span>
					<div id='realgdppercaptip' class='tooltipquestionmark' onmouseout='javascript:unDisplayTip("realgdppercaptool");return false;' onmouseover='javascript:displayTip("realgdppercaptool");return false;'>?</div>
					<div id='realgdppercaptool' class='tooltiptext z-index-1'>The GDP divided by the number of people in the United States.</div>
				</div>
				<div id='category-2-2' class='sub-category' onclick='javascript:expand("2-2",1,0);return false;'>
					<span>Job Creation</span>
				</div>
				<div id='category-2-2-1' class='sub-sub-category' onclick='javascript:graphSwitcherAvg("intjobs", "2-2-1", 3, 30);return false;'>
					<div class='category-filters5'></div><span>Job Creation</span>
					<div id='jobcreationtip' class='tooltipquestionmark' onmouseout='javascript:unDisplayTip("jobcreationtool");return false;' onmouseover='javascript:displayTip("jobcreationtool");return false;'>?</div>
					<div id='jobcreationtool' class='tooltiptext z-index-1'>The number of jobs created on a monthly basis.</div>
				</div>
				<div id='category-2-3' class='sub-category' onclick='javascript:expand("2-3",1,0);return false;'>
					<span>Inflation</span>
				</div>
				<div id='category-2-3-1' class='sub-sub-category' onclick='javascript:graphSwitcherSum("intexeccpi", "2-3-1", 12, 30);return false;'>
					<div class='category-filters3'></div><span>Inflation (CPI)</span>
					<div id='inflationtip' class='tooltipquestionmark' onmouseout='javascript:unDisplayTip("inflationtool");return false;' onmouseover='javascript:displayTip("inflationtool");return false;'>?</div>
					<div id='inflationtool' class='tooltiptext z-index-1'>The approximate change in consumer prices over the past year.</div>
				</div>
				<div id='category-2-4' class='sub-category' onclick='javascript:expand("2-4",5,0);return false;'>
					<span>Employment Data</span>
				</div>
				<div id='category-2-4-1' class='sub-sub-category' onclick='javascript:graphSwitcher2("intexecunemprate", "2-4-1");return false;'>
					<div class='category-filters5'></div><span>Unemployment Rate</span>
					<div id='unempratetip' class='tooltipquestionmark' onmouseout='javascript:unDisplayTip("unempratetool");return false;' onmouseover='javascript:displayTip("unempratetool");return false;'>?</div>
					<div id='unempratetool' class='tooltiptext z-index-1'>The number of people in the workforce who are not employed.</div>
				</div>
				<div id='category-2-4-2' class='sub-sub-category' onclick='javascript:graphSwitcher2("intexeclabpartrate", "2-4-2");return false;'>
					<div class='category-filters5'></div><span>Labor Force Part Rate</span>
					<div id='laborforceparttip' class='tooltipquestionmark' onmouseout='javascript:unDisplayTip("laborforceparttool");return false;' onmouseover='javascript:displayTip("laborforceparttool");return false;'>?</div>
					<div id='laborforceparttool' class='tooltiptext z-index-1'>The percentage of Americans participating in the workforce.</div>
				</div>
				<div id='category-2-4-3' class='sub-sub-category' onclick='javascript:graphSwitcher2("intexecavgweekunemp", "2-4-3");return false;'>
					<div class='category-filters5'></div><span>Average Weeks Unemployed</span>
					<div id='avweeksunemptip' class='tooltipquestionmark' onmouseout='javascript:unDisplayTip("avweeksunemptool");return false;' onmouseover='javascript:displayTip("avweeksunemptool");return false;'>?</div>
					<div id='avweeksunemptool' class='tooltiptext z-index-1'>The average number of weeks before an unemployed person starts a new job.</div>
				</div>
				<div id='category-2-4-4' class='sub-sub-category' onclick='javascript:graphSwitcher2("intexecnumunandemp", "2-4-4");return false;'>
					<div class='category-filters5'></div><span>Number Un / Employed</span>
					<div id='numunemptip' class='tooltipquestionmark' onmouseout='javascript:unDisplayTip("numunemptool");return false;' onmouseover='javascript:displayTip("numunemptool");return false;'>?</div>
					<div id='numunemptool' class='tooltiptext z-index-1'>The raw number of people employed and unemployed.</div>
				</div>
				<div id='category-2-4-5' class='sub-sub-category' onclick='javascript:graphSwitcher2("intexecunempbyeducation", "2-4-5");return false;'>
					<div class='category-filters5'></div><span>Unemployment By Education</span>
					<div id='unempbyedutip' class='tooltipquestionmark' onmouseout='javascript:unDisplayTip("unempbyedutool");return false;' onmouseover='javascript:displayTip("unempbyedutool");return false;'>?</div>
					<div id='unempbyedutool' class='tooltiptext z-index-1'>The unemployment rate broken down by education level.</div>
				</div>
				<div id='category-2-5' class='sub-category' onclick='javascript:expand("2-5",3,0);return false;'>
					<span>International Trade</span>
				</div>
				<div id='category-2-5-1' class='sub-sub-category' onclick='javascript:graphSwitcher2("intexectrade", "2-5-1");return false;'>
					<div class='category-filters3'></div><span>Imports and Exports</span>
					<div id='impexptip' class='tooltipquestionmark' onmouseout='javascript:unDisplayTip("impexptool");return false;' onmouseover='javascript:displayTip("impexptool");return false;'>?</div>
					<div id='impexptool' class='tooltiptext z-index-1'>The amount of imports and exports, shown as a dollar value.</div>
				</div>
				<div id='category-2-5-2' class='sub-sub-category' onclick='javascript:graphSwitcher2("intexecbalance", "2-5-2");return false;'>
					<div class='category-filters3'></div><span>Trade Balance</span>
					<div id='tradebaltip' class='tooltipquestionmark' onmouseout='javascript:unDisplayTip("tradebaltool");return false;' onmouseover='javascript:displayTip("tradebaltool");return false;'>?</div>
					<div id='tradebaltool' class='tooltiptext z-index-1'>Exports minus inputs, shown as a dollar value</div>
				</div>
				<div id='category-2-5-3' class='sub-sub-category' onclick='javascript:graphSwitcher2("intexecbalpercent", "2-5-3");return false;'>
					<div class='category-filters3'></div><span>Balance Percent</span>
					<div id='tradebalpertip' class='tooltipquestionmark' onmouseout='javascript:unDisplayTip("tradebalpertool");return false;' onmouseover='javascript:displayTip("tradebalpertool");return false;'>?</div>
					<div id='tradebalpertool' class='tooltiptext z-index-1'>Exports divided by imports, shown as a percent.</div>
				</div>
				<div id='category-3' class='category' onclick='javascript:expand("3",2,3);return false;'>
					<span>Social Stats</span>
				</div>
				<div id='category-3-1' class='sub-category' onclick='javascript:expand("3-1",3,0);return false;'>
					<span>Wealth/Income</span>
				</div>
				<div id='category-3-1-1' class='sub-sub-category' onclick='javascript:graphSwitcher2("intaggincome", "3-1-1");return false;'>
					<div class='category-filters3'></div><span>Aggregate Income</span>
					<div id='aggincometip' class='tooltipquestionmark' onmouseout='javascript:unDisplayTip("aggincometool");return false;' onmouseover='javascript:displayTip("aggincometool");return false;'>?</div>
					<div id='aggincometool' class='tooltiptext z-index-1'>The total of all American incomes with inflation adjustments.</div>
				</div>
				<div id='category-3-1-2' class='sub-sub-category' onclick='javascript:graphSwitcher2("intcutincome", "3-1-2");return false;'>
					<div class='category-filters3'></div><span>Income Level Cutoffs</span>
					<div id='incomecutofftip' class='tooltipquestionmark' onmouseout='javascript:unDisplayTip("incomecutofftool");return false;' onmouseover='javascript:displayTip("incomecutofftool");return false;'>?</div>
					<div id='incomecutofftool' class='tooltiptext z-index-1'>A dollar representation of income levels.</div>
				</div>
				<div id='category-3-1-3' class='sub-sub-category' onclick='javascript:graphSwitcher2("intavgincome", "3-1-3");return false;'>
					<div class='category-filters3'></div><span>Average Income Per Level</span>
					<div id='avgincomepertip' class='tooltipquestionmark' onmouseout='javascript:unDisplayTip("avgincomepertool");return false;' onmouseover='javascript:displayTip("avgincomepertool");return false;'>?</div>
					<div id='avgincomepertool' class='tooltiptext z-index-1'>The average amount of money each fifth of the US population is making per person.</div>
				</div>
				<div id='category-3-2' class='sub-category' onclick='javascript:expand("3-2",2,0);return false;'>
					<span>Cost of Education</span>
				</div>
				<div id='category-3-2-1' class='sub-sub-category' onclick='javascript:graphSwitcher2("inttuitpripub" ,"3-2-1");return false;'>
					<div class='category-filters5'></div><span>Tuition Private and Public</span>
					<div id='costofedutip' class='tooltipquestionmark' onmouseout='javascript:unDisplayTip("costofedutool");return false;' onmouseover='javascript:displayTip("costofedutool");return false;'>?</div>
					<div id='costofedutool' class='tooltiptext z-index-1'>The average annual college tuition for public and private institutions.</div>
				</div>
				<div id='category-3-2-2' class='sub-sub-category' onclick='javascript:graphSwitcher2("inttuitperchng", "3-2-2");return false;'>
					<div class='category-filters5'></div><span>Percent Change in Tuition</span>
					<div id='costofeduperchngtip' class='tooltipquestionmark' onmouseout='javascript:unDisplayTip("costofeduperchngtool");return false;' onmouseover='javascript:displayTip("costofeduperchngtool");return false;'>?</div>
					<div id='costofeduperchngtool' class='tooltiptext z-index-1'>A representation of how college tuition changes over time.</div>
				</div>
			</div>
		</div>
		<div id='right-col-wrapper'>
		<div id='right-col'>
			<div id='module-wrapper'>
				<div id='internal-graph-wrapper' class='cstanding-graph-wrapper3 z-index-2'></div>
				<div id='hover-buttons'>
					<div id='socialmedia' class='tooltipbutton z-index-1' onmouseout='javascript:unDisplayTip("socialmediahover");return false;' onmouseover='javascript:displayTip("socialmediahover");return false;' onclick='javascript:displayTip2("socialmediatip");return false;'>P<div id='socialmediahover' class='tooltiptext3'>Post to Social Media</div></div>
					<div id='context' class='tooltipbutton z-index-1' onmouseout='javascript:unDisplayTip("contexthover");return false;' onmouseover='javascript:displayTip("contexthover");return false;' onclick='javascript:displayTip2("contexttip");return false;'>C<div id='contexthover' class='tooltiptext3'>Context</div></div>
					<div id='sources' class='tooltipbutton z-index-1' onmouseout='javascript:unDisplayTip("sourceshover");return false;' onmouseover='javascript:displayTip("sourceshover");return false;' onclick='javascript:displayTip2("sourcestip");return false;'>S<div id='sourceshover' class='tooltiptext3'>Sources</div></div>
					<div id='biascheck' class='tooltipbutton z-index-1' onmouseout='javascript:unDisplayTip("biascheckhover");return false;' onmouseover='javascript:displayTip("biascheckhover");return false;' onclick='javascript:displayTip2("biaschecktip");return false;'>B<div id='biascheckhover' class='tooltiptext3'>Bias Check</div></div>
				</div>
			</div>
		</div>
		<div id='tip-wrapper'>
			<div id='tag-reps-tip'>
				<input type='checkbox' name='include-reps'>Tag my representatives
			</div>
			<div id='socialmediatip' class='tooltiptext2' style='width:280px;background:none;border:none;position:relative;margin:0 auto;'>
				<ul class="soc">
					<li><a class="soc-facebook" href="#"></a></li>
					<li><a class="soc-twitter" href="#"></a></li>
					<li><a class="soc-google" href="#"></a></li>
					<li><a class="soc-instagram" href="#"></a></li>
					<li><a class="soc-reddit soc-icon-last" href="#"></a></li>
				</ul>
			</div>
			<div id='contexttip' class='tooltiptext2'></div>
			<div id='sourcestip' class='tooltiptext2'></div>
			<div id='biaschecktip' class='tooltiptext2'></div>
		</div>
		<div class='pres-graph-header'><div style='position:relative;width:100%;display:flex;'>
			<div id='graph-h1' class='graph-head-button' onclick='javascript:switchButton(1);return false;'>
				John Kennedy
			</div>
			<div id='graph-h2' class='graph-head-button' onclick='javascript:switchButton(2);return false;'>
				Lyndon Johnson
			</div>
			<div id='graph-h3' class='graph-head-button' onclick='javascript:switchButton(3);return false;'>
				Richard Nixon
			</div>
			<div id='graph-h4' class='graph-head-button' onclick='javascript:switchButton(4);return false;'>
				Gerald Ford
			</div>
			<div id='graph-h5' class='graph-head-button' onclick='javascript:switchButton(5);return false;'>
				Jimmy Carter
			</div>
		</div></div>
		<div class='pres-graph-header'><div style='position:relative;width:100%;display:flex;'>
			<div id='graph-li1' class='lightwrap'>
				<div style='width:60px;' class='horizline'></div><div class='light light1'><div class='timelineyear'>1961</div></div><div style='width:60px;' class='horizline'></div><div class='light light1'></div><div style='width:60px;' class='horizline'></div>
			</div>
			<div id='graph-li2' class='lightwrap'>
				<div style='width:20px;' class='horizline'></div><div class='light light2'><div class='timelineyear'>1963</div></div><div style='width:20px;' class='horizline'></div><div class='light light2'></div><div style='width:20px;' class='horizline'></div><div class='light light2'></div><div style='width:20px;' class='horizline'></div><div class='light light2'></div><div style='width:20px;' class='horizline'></div><div class='light light2'></div><div style='width:20px;' class='horizline'></div><div class='light light2'></div><div style='width:20px;' class='horizline'></div>
			</div>
			<div id='graph-li3' class='lightwrap'>
				<div style='width:25px;' class='horizline'></div><div class='light light3'><div class='timelineyear'>1969</div></div><div style='width:25px;' class='horizline'></div><div class='light light3'></div><div style='width:25px;' class='horizline'></div><div class='light light3'></div><div style='width:25px;' class='horizline'></div><div class='light light3'></div><div style='width:25px;' class='horizline'></div><div class='light light3'></div><div style='width:25px;' class='horizline'></div>
			</div>
			<div id='graph-li4' class='lightwrap'>
				<div style='width:42px;' class='horizline'></div><div class='light light4'><div class='timelineyear'>1974</div></div><div style='width:42px;' class='horizline'></div><div class='light light4'></div><div style='width:42px;' class='horizline'></div><div class='light light4'></div><div style='width:42px;' class='horizline'></div>
			</div>
			<div id='graph-li5' class='lightwrap'>
				<div style='width:32px;' class='horizline'></div><div class='light light5'><div class='timelineyear'>1977</div></div><div style='width:32px;' class='horizline'></div><div class='light light5'></div><div style='width:32px;' class='horizline'></div><div class='light light5'></div><div style='width:32px;' class='horizline'></div><div class='light light5'></div><div style='width:32px;' class='horizline'></div>
			</div>
		</div></div>
		<div class='pres-graph-header'><div style='position:relative;width:100%;display:flex;'>
			<div id='graph-h6' class='graph-head-button' onclick='javascript:switchButton(6);return false;'>
				Ronald Reagan
			</div>
			<div id='graph-h7' class='graph-head-button' onclick='javascript:switchButton(7);return false;'>
				George Bush
			</div>
			<div id='graph-h8' class='graph-head-button' onclick='javascript:switchButton(8);return false;'>
				Bill Clinton
			</div>
			<div id='graph-h9' class='graph-head-button' onclick='javascript:switchButton(9);return false;'>
				George W. Bush
			</div>
			<div id='graph-h10' class='graph-head-button' onclick='javascript:switchButton(10);return false;'>
				Barack Obama
			</div>
		</div></div>
		<div class='pres-graph-header'><div style='position:relative;width:100%;display:flex;'>
			<div id='graph-li6' class='lightwrap'>
				<div style='width:8px;' class='horizline'></div><div class='light light6'><div class='timelineyear'>1981</div></div><div class='horizline'></div><div class='light light6'></div><div class='horizline'></div><div class='light light6'></div><div class='horizline'></div><div class='light light6'></div><div class='horizline'></div><div class='light light6'></div><div class='horizline'></div><div class='light light6'></div><div class='horizline'></div><div class='light light6'></div><div class='horizline'></div><div class='light light6'></div><div style='width:8px;' class='horizline'></div>
			</div>
			<div id='graph-li7' class='lightwrap'>
				<div style='width:32px;' class='horizline'></div><div class='light light7'><div class='timelineyear'>1989</div></div><div style='width:32px;' class='horizline'></div><div class='light light7'></div><div style='width:32px;' class='horizline'></div><div class='light light7'></div><div style='width:32px;' class='horizline'></div><div class='light light7'></div><div style='width:32px;' class='horizline'></div>
			</div>
			<div id='graph-li8' class='lightwrap'>
				<div style='width:8px;' class='horizline'></div><div class='light light8'><div class='timelineyear'>1993</div></div><div class='horizline'></div><div class='light light8'></div><div class='horizline'></div><div class='light light8'></div><div class='horizline'></div><div class='light light8'></div><div class='horizline'></div><div class='light light8'></div><div class='horizline'></div><div class='light light8'></div><div class='horizline'></div><div class='light light8'></div><div class='horizline'></div><div class='light light8'></div><div style='width:8px;' class='horizline'></div>
			</div>
			<div id='graph-li9' class='lightwrap'>
				<div style='width:8px;' class='horizline'></div><div class='light light9'><div class='timelineyear'>2001</div></div><div class='horizline'></div><div class='light light9'></div><div class='horizline'></div><div class='light light9'></div><div class='horizline'></div><div class='light light9'></div><div class='horizline'></div><div class='light light9'></div><div class='horizline'></div><div class='light light9'></div><div class='horizline'></div><div class='light light9'></div><div class='horizline'></div><div class='light light9'></div><div style='width:8px;' class='horizline'></div>
			</div>
			<div id='graph-li10' class='lightwrap'>
				<div style='width:8px;' class='horizline'></div><div class='light light10'><div class='timelineyear'>2009</div></div><div class='horizline'></div><div class='light light10'></div><div class='horizline'></div><div class='light light10'></div><div class='horizline'></div><div class='light light10'></div><div class='horizline'></div><div class='light light10'></div><div class='horizline'></div><div class='light light10'></div><div class='horizline'></div><div class='light light10'></div><div class='horizline'></div><div class='light light10'></div><div style='width:8px;' class='horizline'></div>
			</div>
		</div></div>
		</div>
	</div>
</div>