<h1 style='text-align:center;''>Bill Tracking</h1>
<div class='center-panel-module green-box'>
TGC helps you keep tabs on the things you care about. Check the tracking box on any bill so that you can keep track of its progress, and continue to mention it to your legislator.
</div>
<h2 style='text-align:center'>Keep Track of Bills that Matter to You</h2>
<h3 style='text-align:center'>Just check track on any bill we have listed in the left panel</h3>
<ul id='left-panel-tracked' bind-unsafe-html="center_panel_tracking">
</ul>