<div class='mob-pres-graph-header'>
	<div style='position:relative;width:100%;display:flex;' onclick='javascript:switchButton(10);return false;'>
		<div id='graph-li10' class='lightwrap'>
			<div style='width:8px;' class='horizline'></div><div class='light light10'><div class='timelineyear'>2009</div></div><div class='horizline'></div><div class='light light10'></div><div class='horizline'></div><div class='light light10'></div><div class='horizline'></div><div class='light light10'></div><div class='horizline'></div><div class='light light10'></div><div class='horizline'></div><div class='light light10'></div><div class='horizline'></div><div class='light light10'></div><div class='horizline'></div><div class='light light10'></div><div style='width:8px;' class='horizline'></div>
		</div>
		<div id='graph-h10' class='graph-head-button'>
			Barack Obama
		</div>
	</div>
	<div style='position:relative;width:100%;display:flex;' onclick='javascript:switchButton(9);return false;'>
		<div id='graph-li9' class='lightwrap'>
			<div style='width:8px;' class='horizline'></div><div class='light light9'><div class='timelineyear'>2001</div></div><div class='horizline'></div><div class='light light9'></div><div class='horizline'></div><div class='light light9'></div><div class='horizline'></div><div class='light light9'></div><div class='horizline'></div><div class='light light9'></div><div class='horizline'></div><div class='light light9'></div><div class='horizline'></div><div class='light light9'></div><div class='horizline'></div><div class='light light9'></div><div style='width:8px;' class='horizline'></div>
		</div>
		<div id='graph-h9' class='graph-head-button'>
			George W. Bush
		</div>
	</div>
	<div style='position:relative;width:100%;display:flex;' onclick='javascript:switchButton(8);return false;'>
		<div id='graph-li8' class='lightwrap'>
			<div style='width:8px;' class='horizline'></div><div class='light light8'><div class='timelineyear'>1993</div></div><div class='horizline'></div><div class='light light8'></div><div class='horizline'></div><div class='light light8'></div><div class='horizline'></div><div class='light light8'></div><div class='horizline'></div><div class='light light8'></div><div class='horizline'></div><div class='light light8'></div><div class='horizline'></div><div class='light light8'></div><div class='horizline'></div><div class='light light8'></div><div style='width:8px;' class='horizline'></div>
		</div>
		<div id='graph-h8' class='graph-head-button'>
			Bill Clinton
		</div>
	</div>
	<div style='position:relative;width:100%;display:flex;' onclick='javascript:switchButton(7);return false;'>
		<div id='graph-li7' class='lightwrap'>
			<div style='width:32px;' class='horizline'></div><div class='light light7'><div class='timelineyear'>1989</div></div><div style='width:32px;' class='horizline'></div><div class='light light7'></div><div style='width:32px;' class='horizline'></div><div class='light light7'></div><div style='width:32px;' class='horizline'></div><div class='light light7'></div><div style='width:32px;' class='horizline'></div>
		</div>
		<div id='graph-h7' class='graph-head-button'>
			George Bush
		</div>
	</div>
	<div style='position:relative;width:100%;display:flex;' onclick='javascript:switchButton(6);return false;'>
		<div id='graph-li6' class='lightwrap'>
			<div style='width:8px;' class='horizline'></div><div class='light light6'><div class='timelineyear'>1981</div></div><div class='horizline'></div><div class='light light6'></div><div class='horizline'></div><div class='light light6'></div><div class='horizline'></div><div class='light light6'></div><div class='horizline'></div><div class='light light6'></div><div class='horizline'></div><div class='light light6'></div><div class='horizline'></div><div class='light light6'></div><div class='horizline'></div><div class='light light6'></div><div style='width:8px;' class='horizline'></div>
		</div>
		<div id='graph-h6' class='graph-head-button'>
			Ronald Reagan
		</div>
	</div>
	<div style='position:relative;width:100%;display:flex;' onclick='javascript:switchButton(5);return false;'>
		<div id='graph-li5' class='lightwrap'>
			<div style='width:32px;' class='horizline'></div><div class='light light5'><div class='timelineyear'>1977</div></div><div style='width:32px;' class='horizline'></div><div class='light light5'></div><div style='width:32px;' class='horizline'></div><div class='light light5'></div><div style='width:32px;' class='horizline'></div><div class='light light5'></div><div style='width:32px;' class='horizline'></div>
		</div>
		<div id='graph-h5' class='graph-head-button'>
			Jimmy Carter
		</div>
	</div>
	<div style='position:relative;width:100%;display:flex;' onclick='javascript:switchButton(4);return false;'>
		<div id='graph-li4' class='lightwrap'>
			<div style='width:42px;' class='horizline'></div><div class='light light4'><div class='timelineyear'>1974</div></div><div style='width:42px;' class='horizline'></div><div class='light light4'></div><div style='width:42px;' class='horizline'></div><div class='light light4'></div><div style='width:42px;' class='horizline'></div>
		</div>
		<div id='graph-h4' class='graph-head-button'>
			Gerald Ford
		</div>
	</div>
	<div style='position:relative;width:100%;display:flex;' onclick='javascript:switchButton(3);return false;'>
		<div id='graph-li3' class='lightwrap'>
			<div style='width:25px;' class='horizline'></div><div class='light light3'><div class='timelineyear'>1969</div></div><div style='width:25px;' class='horizline'></div><div class='light light3'></div><div style='width:25px;' class='horizline'></div><div class='light light3'></div><div style='width:25px;' class='horizline'></div><div class='light light3'></div><div style='width:25px;' class='horizline'></div><div class='light light3'></div><div style='width:25px;' class='horizline'></div>
		</div>
		<div id='graph-h3' class='graph-head-button'>
			Richard Nixon
		</div>
	</div>
	<div style='position:relative;width:100%;display:flex;' onclick='javascript:switchButton(2);return false;'>
		<div id='graph-li2' class='lightwrap'>
			<div style='width:20px;' class='horizline'></div><div class='light light2'><div class='timelineyear'>1963</div></div><div style='width:20px;' class='horizline'></div><div class='light light2'></div><div style='width:20px;' class='horizline'></div><div class='light light2'></div><div style='width:20px;' class='horizline'></div><div class='light light2'></div><div style='width:20px;' class='horizline'></div><div class='light light2'></div><div style='width:20px;' class='horizline'></div><div class='light light2'></div><div style='width:20px;' class='horizline'></div>
		</div>
		<div id='graph-h2' class='graph-head-button'>
			Lyndon Johnson
		</div>
	</div>
	<div style='position:relative;width:100%;display:flex;' onclick='javascript:switchButton(1);return false;'>
		<div id='graph-li1' class='lightwrap'>
			<div style='width:60px;' class='horizline'></div><div class='light light1'><div class='timelineyear'>1961</div></div><div style='width:60px;' class='horizline'></div><div class='light light1'></div><div style='width:60px;' class='horizline'></div>
		</div>
		<div id='graph-h1' class='graph-head-button'>
			John Kennedy
		</div>
	</div>
</div>