<div id='left-col'>
	<div id='menu-wrapper'>
		<span>Economic Policies</span>
		<span>Monetary Policy</span>
		<span>Interest Rates</span>
		<span>Money Supply</span>
		<span>Fiscal Policy</span>
		<span>Revenue Vs Spending</span>
		<span>Budget Deficit</span>
		<span>National Debt</span>
		<span>Spending by Category</span>
		<span>Real GDP</span>
		<span>GDP Rate of Change</span>
		<span>Real GDP Per Capita</span>
		<span>Job Creation</span>
		<span>Job Creation</span>
		<span>Inflation</span>
		<span>Inflation (CPI)</span>
		<span>Employment Data</span>
		<span>Unemployment Rate</span>
		<span>Labor Force Part Rate</span>
		<span>Average Weeks Unemployed</span>
		<span>Number Un / Employed</span>
		<span>Unemployment By Education</span>
		<span>International Trade</span>
		<span>Imports and Exports</span>
		<span>Trade Balance</span>
		<span>Balance Percent</span>
		<span>Social Stats</span>
		<span>Wealth/Income</span>
		<span>Aggregate Income</span>
		<span>Income Level Cutoffs</span>
		<span>Average Income Per Level</span>
		<span>Cost of Education</span>
		<span>Tuition Private and Public</span>
		<span>Percent Change in Tuition</span>
	</div>
</div>