#signup-wrapper{width:300px;height:500px;margin:0 auto;}
.api-input{width:100%;padding:4px 8px;margin:8px 0px;border-radius:8px;}
.api-input:foc{outline:none;}
.api-single-wrap{min-height:200px;width:1024px;margin:0 auto;}
.api-single-wrap h2{left:0;text-align:left;margin-top:50px;}
.api-single-wrap h4{left:0;text-align:left;margin:20px 0;}
.api-doc-background{color:#619192;}
.rme{width:50px !important;margin-left:65px !important;}

#api-profile-header{width:700px;margin:0 auto;border-bottom:solid 1px #d9d9d9;padding:0 100px 16px;height:144px;}
#tracker-header{width:700px;margin:0 auto;border-bottom:solid 1px #d9d9d9;padding:0 100px 16px;height:144px;}
#api-profile-body-wrap{display:flex;width:100%;margin-top:40px;}
.api-key-wrapper{width:800px;margin:32px auto;border:2px solid #eff0f1;}
.api-key-head{width:100%;display:flex;position:relative;height:54px;background:#eff0f1;}
.api-key-head-left{position:absolute;left:16px;top:12px;font-size:125%;}
.api-key-head-right{position:absolute;right:16px;top:12px;margin:0;width:100px;}
.api-key-body{height:120px;width:100%;padding:16px;position:relative;}
.api-key-body-text{padding:4px;font-weight:bold;z-index:1;}
.api-key-body-sub-text{padding:4px;margin-left:20px;font-size:95%;z-index:1;}
.api-key-body-edit{width:100%;position:absolute;top:0;left:0;height:120px;z-index:2;background:white;}
.api-key-body-edit h5{margin-top:10px;}

#api-header{margin-bottom:8px;}
#api-body-wrap{display:flex;}
#api-body-left-panel{font-weight:bold;padding:24px;position:fixed;width:250px;top:100px;bottom:94px;}
#api-body-center-panel{padding:24px 40px;}
#api-body-center-panel h3{text-align:left;margin:24px 0;}
.left-panel-li{padding:3px 0;}

.api-doc-btn{width:200px;margin:20px auto;}
.hljs-string{color:#d14;}
.hljs-attribute{color:#008080}
.hljs{display:block;overflow-x:auto;color:#333}
.error-table td{padding:5px;}