{% extends "base.html" %}

{% block content %}
<div id='userservices'>
	<div id='nav_wrapper'>
		<img id='toplogo' src='/images/awlogo.png'>The Glass Capitol
	</div>
	<div id='us-content'>
		<img id='loglogo' src='/images/awlogo.png'>
		<input type='hidden' name='user' value={{username}}>
		<h2>Thank you for confirming your email! You may close this window or click the link below to go to our Welcome page.</h2>
		<a href='/' id='return-button' class='redbutton'>Main page</a>
	</div>
</div>

<div id='footfoot'>
  <img id='footlogo' src='/images/awlogo.png'>The Glass Capitol™ Founded 2015
</div>

<style>
	#badge, #titlebar,#nav_container{display:none}
	#nav_wrapper{padding-left:60px;position:relative;height:70px;line-height:70px;background:white;border-bottom:solid 1px #d9d9d9;padding-top:10px}
	#toplogo{display:block;position:absolute;height:90%;left:10px;}
	#return-button{display:block;float:center;margin-right:2vw;color:white;padding:4px 20px;margin-top:15px;border-radius:2px;font-weight:bold;font-size:12px;line-height:20px;}
	#userservices{height:100vh;}
	#us-content{position:absolute;top:100px;left:50%;transform:translate(-50%,0);text-align:center;}
	#us-content h2, h3, h4{text-align:center;}
	#userform{width:274px;padding:40px;background:white;border-radius:2px;border:solid 1px #d9d9d9;}
	.signupinput{height:44px;width:calc(100% - 12px);margin-bottom:10px;border-radius:2px;padding-left:10px;font-size:16px;border:solid 1px #d9d9d9;background:#F2F2F2;}
	.error {color: red;margin-bottom:10px;border-radius:2px;padding-left:10px;font-size:16px;}
	#loginbutton{width:100%;height:34px;}
	#loglogo{display:block;margin:0 auto;height:12vh;}
	#footer{display:none;}
	#footfoot{background:white;border-top:solid 1px #D9D9D9;}
</style>
{% endblock %}