{% extends "base.html" %}

{% block content %}
<link rel='stylesheet' href='/css/usersystem.css'/>
<div id='content-body' ng-init='tripanel_init()'>
	<div id='panel-wrapper'>

		<div id='left-panel' class='panel sidepanel' bind-unsafe-html="leftpanel">
		</div>

		<div id='center-panel' class='panel' bind-unsafe-html="centerpanel">
		</div>

		<div id='right-panel' class='panel sidepanel'>
			<h2 class='panel-title'>Bills Before Our Congress</h2>

			{% for bill in bills %}
				<div class='module'>
					<div class='rp-bill-name' ng-click="get_bill('{{ bill.bill_id }}')">{{bill.official_title}}</div>
				</div>
			{% endfor %}
		</div>
		<div id='beta-feedback-wrap' ng-init='beta_feedback_init()'>
			<div id='beta-feedback-button-wrap'>
				<div id='beta-feedback-exclaimation' class='z-index-1' onclick='javascript:betaFeedbackSlider();return false;'>
					!
				</div>
				<div id='beta-feedback-button' onclick='javascript:betaFeedbackSlider();return false;'>
					<span>
						<br>B<br>e<br>t<br>a<br><br><br>F<br>e<br>e<br>d<br>b<br>a<br>c<br>k
					</span>
				</div>
			</div>
			<div id='beta-feedback-top-wrap' class='z-index-2'>
				<div id='beta-feedback-top-bar'>
					<div id='bfeedqs' class='beta-feedback-top-button' style='background:#c00;' onclick='javascript:loadQuestions();return false;'>
						Questions
					</div>
					<div id='bfeedrs' class='beta-feedback-top-button' style='background:#600;' onclick='javascript:loadResponses();return false;'>
						Responses
					</div>
				</div>
				<div id='beta-feedback-questions' bind-unsafe-html="feedbackqs">
				</div>
				<div id='beta-feedback-responses' style='display:none;' bind-unsafe-html="feedbackrs">
				</div>
			</div>
		</div>

	</div>
<script type="text/javascript" src="/js/feedback.js"></script>
</div>

<script>
	function useLocation() {
		console.log('using location')
	    navigator.geolocation.getCurrentPosition(gotGPS);
	}
	function gotGPS(position) {
		lat = position.coords.latitude;
		lng = position.coords.longitude;
		console.log(lat)
		console.log(lng)
		$.post("/api/leftpanellegislators", {lat:lat, lng:lng}, function(data){
			console.log(data)
		});
	}

	//helper functions
	function center_panel_scroll(step){
		console.log('center panel scroll')
		$('.center-panel-section').each(function(index){
			$('#center-panel-section-'+index).css('display', 'none')
		});
		console.log('#center-panel-section-'+step)
		$('#center-panel-section-'+step).css('display', 'block')
	}
	function slideBeta() {
		var slider = {{slideoutbetafeed}}
		if (slider == 'True') {
			window.setTimeout(betaFeedbackSlider,500);
		}
	}
</script>

{% endblock %}