{% extends "base.html" %}

{% block content %}

<style>
    #content{padding:0;}
</style>

<div id='home-wrapper'>
    <!--<div id='home-head'>
        <img src='/images/profile.jpg' id='profile-pic'>
        <h1>Steven Schweinhart</h1>
        <h3>Web Developer & Data Engineer</h3>
        <div id='soc-media-toolbar-wrap' class="btn-toolbar" role="toolbar" aria-label="Social Media">
            <div id='soc-media-toolbar' class="btn-group mr-2" role="group">
                <a class="custom-btn" target="_blank" role="button" href="https://www.linkedin.com/in/sschweinhart/"><img class='soc-img' src='/images/logos/facebook.png'></a>
                <a class="custom-btn" target='_blank' role='button' href='https://www.facebook.com/steven.schweinhart'><img class='soc-img' src='/images/logos/facebook.png'></a>
                <a class="custom-btn" target='_blank' role='button' href='https://twitter.com/sschweinhart'><img class='soc-img' src='/images/logos/twitter.png'></a>
                <a class="custom-btn" target='_blank' role='button' href='https://www.instagram.com/sschwein/'><img class='soc-img' src='/images/logos/instagram.png'></a>
                {#<a class="custom-btn" target='_self' role='button' href='mailto:steven.a.schweinhart@gmail.com'><img class='soc-img' src='/images/logos/email.png'></a>#}
            </div>
        </div>
    </div>-->

    <div class='full-panel static-background image-banner-background'>
        <div class='home-landing-text'>
            <div class='h-100-px font-white-blue font-black-outline'>
                <h2 class='font-size-250'>Hey, I'm</h2>
                <h1 class='font-size-300'>Steven Schweinhart</h1>
            </div>
        </div>
        <div id='home-slider-panel'>
            <div id='home-slider-header'></div>
            <div id='home-slider-panel-wrap'></div>
        </div>
        <div class='home-landing-text bg-dark-grey-transparent'>
            <div class='w-700-center font-white-blue text-justify font-size-125'>
                <p class='my-5'>I am a software engineer based in Louisville KY that enjoys building tools to solve problems. This includes building video games for school projects to this website.</p>
                <p class='my-5'>Over the past decade as a programmer, I have built up a collection of projects scattered across my many computers. Historically these projects have been scattered across multiple locations and environments. I plan on using this domain to host all of my ideas in one place. </p>
                <p class='my-5'>When I'm not sitting in front of a screen I find myself exploring on my bike, distracted online, enjoying a bottle of wine, or finding a way to eat Indian food (chicken curry and naan is my weakness).</p>
            </div>
        </div>
    </div>

    <!--
    <div id='projects' class='bipanel home-panel'>
        <div class='left-slider-background bipanel-center bg-off-white' ng-style='background_slide_style[0]' ng-show='background_slide == 1' ng-cloak>
            <div class='slider-content-wrap'>
                <h2>US National Data Visualizer</h2>
                <p>Government data is free and available for the public to use, however most of this data is hard to read or understand. The mission behind this data visualizer is to bring context to our government and help explain what's going on behind the scenes.</p>
                <a href='/data' target='_self'>Explore</a>
                <img class='slider-teaser-img' src='/images/scrn/natdatateaser.png'>
            </div>
        </div>
        <div class='left-slider-background bipanel-center bg-off-white' ng-style='background_slide_style[1]' ng-show='background_slide == 2' ng-cloak>
            <div class='slider-content-wrap'>
                <h2>US Congressional Bill Tracker and API</h2>
                <p>While building a tool to better visualize bills before Congress, I found that other Congressional API's are lacking in quality. So I built my own version using the most up to date information from <a href='https://www.congress.gov/' target='_new'>congress.gov</a>. The data is updated hourly, and is good back to the 103rd congress (1993-1994).</p>
                <a href='/congress/bill/search' target='_self'>Bill Tracker</a><br><br>
                <a href='/api/congress' target='_self'>Access API</a><br><br>
                <div style='font-size:85%;position:absolute;bottom:50px;left:5%;width:90%;'>Note: I can't promise that this data is perfect, or will always be available. If there is an issue, let me know **here** and I will do my best to correct it.</div>
                {#<img class='slider-teaser-img' src='/images/scrn/natdatateaser.png'>#}
            </div>
        </div>
        <div class='left-slider-background bipanel-center bg-off-white' ng-style='background_slide_style[2]' ng-show='background_slide == 3' ng-cloak>
            <div class='slider-content-wrap'>
                <h2>Playing Tetris with Machine Learning</h2>
                <p></p>
                {#<img class='slider-teaser-img' src='/images/scrn/natdatateaser.png'>#}
            </div>
        </div>
        <div class='left-slider-background bipanel-center bg-off-white' ng-style='background_slide_style[3]' ng-show='background_slide == 4' ng-cloak>
            <div class='slider-content-wrap'>

            </div>
        </div>
        <div class='bipanel-center bg-off-white' style='z-index:0;'>
            <h1 class='home-section-header'>Personal Projects</h1>
        </div>
        <div class='bipanel-center bg-lt-blue'>
            <ul class='ul-no-dot home-section-project-ul'>
                <li ng-click='background_slider(1)'>
                    US Data Visualizer
                </li>
                <li ng-click='background_slider(2)'>
                    Congress Bill API/Tracker
                </li>
                <li ng-click='background_slider(3)'>
                    Genetic Tetris
                </li>
                <li ng-click='background_slider(4)'>
                    Compression With Machine Learning
                </li>
            </ul>
        </div>
    </div>
    {# <div id='contact' class='bipanel home-panel-60'>
        <div class='bipanel-center bg-lt-blue'>
            <h4 class='home-section-subhead' style='margin-top:130px;'>Reach Me</h4>
            <div class='home-section-p'>If you want to discuss more about how I can help your business, feel free to contact me through email.</div>
            <div class='home-section-row'>
                <span style='font-weight:bold;'>Via Email:</span>&nbsp<a target='_self' role='button' href='mailto:steven.a.schweinhart@gmail.com'>steven.a.schweinhart@gmail.com</a>
            </div>
        </div>
        <div class='bipanel-center bg-off-white'>
            <h1 class='home-section-header-60'>Contact</h1>
        </div>
    </div> #}
</div>-->

<!-- Load our React component. -->
<script src="/static/js/react/home-page.js"></script>
{% endblock %}